@import '../../assets/styles/vars.scss';

.pip-b {
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid $neutral-200;
    background-color: $white;
    color: $neutral-900;
    cursor: pointer;
    // font-family: 'Courier New', Courier, monospace;

    transition: background-color 100ms linear, border-color 100ms linear, color 100ms linear, box-shadow 100ms linear;

    &:hover {
        box-shadow: inset 0 0 0 1px $neutral-50, 0 0 0 1px $white, 0 0 0 3px $neutral-500;
        background-color: $neutral-50;
        border-color: $neutral-400;
    }

    &:active {
        box-shadow: inset 0 0 0 1px $neutral-200, 0 0 0 1px $white, 0 0 0 3px $neutral-500;
        background-color: $neutral-100;
        border-color: $neutral-400;
    }

    &--confirm {
        background-color: $blue-500;
        border-color: $blue-600;
        color: $white;
        
        &:hover {
            box-shadow: inset 0 0 0 1px $blue-600, 0 0 0 1px $white, 0 0 0 3px $blue-500;
            background-color: $blue-600;
            border-color: $blue-800;
        }
        &:active {
            box-shadow: inset 0 0 0 1px $blue-600, 0 0 0 1px $white, 0 0 0 3px $blue-600;
            background-color: $blue-700;
            border-color: $blue-900;
        }
    }

    &--danger {
        background-color: $red-500;
        border-color: $red-600;
        color: $white;
        &:hover {
            box-shadow: inset 0 0 0 1px $red-600, 0 0 0 1px $white, 0 0 0 3px $red-500;
            background-color: $red-600;
            border-color: $red-800;
        }
        &:active {
            box-shadow: inset 0 0 0 1px $red-600, 0 0 0 1px $white, 0 0 0 3px $red-600;
            background-color: $red-700;
            border-color: $red-900;
        }
    }

    &--success {
        background-color: $yellow-400;
        border-color: $yellow-500;
        color: $white;
        &:hover {
            box-shadow: inset 0 0 0 1px $yellow-600, 0 0 0 1px $white, 0 0 0 3px $yellow-500;
            background-color: $yellow-600;
            border-color: $yellow-800;
        }
        &:active {
            box-shadow: inset 0 0 0 1px $yellow-600, 0 0 0 1px $white, 0 0 0 3px $yellow-600;
            background-color: $yellow-700;
            border-color: $yellow-900;
        }
    }

    &--info {
        background-color: $green-400;
        border-color: $green-500;
        color: $white;
        &:hover {
            box-shadow: inset 0 0 0 1px $green-600, 0 0 0 1px $white, 0 0 0 3px $green-500;
            background-color: $green-600;
            border-color: $green-800;
        }
        &:active {
            box-shadow: inset 0 0 0 1px $green-600, 0 0 0 1px $white, 0 0 0 3px $green-600;
            background-color: $green-700;
            border-color: $green-900;
        }
    }
}
